{% extends 'base.html' %}\

{% block head %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/dashboard">
                    <button>
                        <span class="material-symbols-outlined">
                            arrow_left_alt
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="row" >
            <div class="col-6">
                <h1>{{ username }} Project View</h1>
                <h5>Description: {{ project_view_data.description }}</h5>
                <h5>Location: {{ project_view_data.project_location }}</h5>
                <p>Date: {{ project_view_data.date }}</p>
            </div>
        </div>
        <!-- Content Viewer -->
        <div class="row">
            <div class="col-12">
                <div class="col-12 rounded-top" style="text-align: center; background-color: rgb(216, 188, 105);">
                    <button id="tour_button" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('tour360')">Virtual Tour</button>
                    <button id="model3d_button" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('model3D')">3D Model</button>
                    <button id="ortho_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('ortho2D')">2D Orthomosaic</button>
                    <button id="video_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('video')">Video</button>
                    <button id="image_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('stills')">Still Images</button>
                </div>
                <div class="row">
                    <div class="col-12" id="viewer_container" style="background-color: slategray;">
                        <p>Viewer type:</p>
                        <!-- Virtual Tour -->
                        <!-- 3D Model -->
                        <!-- 2D Orthomosaic -->
                        <!-- Videography -->
                    </div>
                </div>
            </div>
        </div>
      <!-- Project View Script -->
      <script>
          const container = document.getElementById('viewer_container');
          
          // booleans to track what view scripts have been loaded
          tour_script_loaded = false;
          model3d_script_loaded = false;
          ortho2D_script_loaded = false;
          video_script_loaded = false;
          image_script_loaded = false;

          // Switch Content display type
          function switchViewer(viewerType) {
              switch (viewerType) {
                case 'tour360':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Virtual Tour");
                    para.appendChild(node);

                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    // display view tour button as disabled
                    var button = document.getElementById('tour_button');
                    button.disabled = true;

                    load360TourViewer(container);
                    break;
                case 'model3D':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("3D Model View");
                    para.appendChild(node);
                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    // display model view button as disabled.
                    var button = document.getElementById('model3d_button');
                    button.disabled = true; // left off here oct 3rd 2023

                    load3DModelViewer(container);
                    break;
                case 'ortho2D':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("2D OrthoMosaic View");
                    para.appendChild(node);

                    container.appendChild(para);
                    break;
                case 'video':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Video View");
                    para.appendChild(node);

                    container.appendChild(para);
                    break;
                case 'stills':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Still Image View");
                    para.appendChild(node);

                    container.appendChild(para);
                    break;

              }
          }

          //Reset Disabled View Buttons
          function resetViewButtons() {
              const tour_btn = document.getElementById("tour_button");
              tour_btn.disabled = false;
              const model_btn = document.getElementById("model3d_button");
              model_btn.disabled = false;
              const ortho_btn = document.getElementById("ortho_btn");
              ortho_btn.disabled = false;
              const video_btn = document.getElementById("video_btn");
              video_btn.disabled = false;
              const image_btn = document.getElementById("image_btn");
              image_btn.disabled = false;
          }

          //3D Model Helper Functions
          function loadScript_model3d(src, callback) {
              const script = document.createElement('script');
              script.src = src;
              script.type = 'module'
              model_url = '{{ project_view_data.model3d_url }}'
              script.setAttribute('model_url',model_url); // dynamically load project url from database
              script.id = 'model_3d_script';
              script.defer = true;
              document.head.appendChild(script);
          }

          function loadAsyncScript_model3d(src, callback) {
            const script = document.createElement('script');
            script.src = src;
            script.async = true
            script.id = "model_3d_async_script";
            document.head.appendChild(script);
          }

          function addImportMap_model_3d(mapContent) { 
              const script = document.createElement('script');
              script.type = 'importmap';
              script.textContent = JSON.stringify(mapContent);
              script.id = "model_3d_import_map";
              document.head.appendChild(script);
           }

           // Other Model Helper functions

           // Reload 3D Model Viewer Script
           function reloadViewerScript() {
               var oldScript_async = document.getElementById("model_3d_async_script");
               var parent = oldScript_async.parentElement;
               parent.removeChild(oldScript_async);

               var oldScript_Import_Map = document.getElementById("model_3d_import_map");
               parent = oldScript_viewer.parentElement;
               parent.removeChild(oldScript_Import_Map);

               var oldScript_viewer = document.getElementById("model_3d_script");
               parent = oldScript_viewer.parentElement;
               parent.removeChild(oldScript_viewer);
               

               // Reload Script
               loadAsyncScript_model3d('https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js', function() {
                    console.log('3D Model Helper Script Loaded')
                });
              
                const importMapContent = {
                    "imports": {
                        "three": "https://unpkg.com/three@v0.154.0/build/three.module.js",
                        "three/addons/": "https://unpkg.com/three@v0.154.0/examples/jsm/"
                    }
                }

                addImportMap_model_3d(importMapContent);

               loadScript_model3d('/static/js_scripts/3d_model_viewer.js', function() {
                console.log('3D Model Viewer Script Loaded');
                });
           }

          // Create View Loaders
          function load3DModelViewer(container_) {
              console.log(model3d_script_loaded);
              if (model3d_script_loaded === false) {
                // Load Scripts and styles for 3D Model Viewer
                loadAsyncScript_model3d('https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js', function() {
                    console.log('3D Model Helper Script Loaded')
                });
              
                const importMapContent = {
                    "imports": {
                        "three": "https://unpkg.com/three@v0.154.0/build/three.module.js",
                        "three/addons/": "https://unpkg.com/three@v0.154.0/examples/jsm/"
                    }
                }

                addImportMap_model_3d(importMapContent);

                loadScript_model3d('/static/js_scripts/3d_model_viewer.js', function() {
                    console.log('3D Model Viewer Script Loaded');
                });
              }

              // Render 3D Model
              // create model-renderer-container div and append to container
              const renderer_container = document.createElement('div');
              renderer_container.id = 'model-renderer-container';
              console.log('3D model Viewer')
              container.appendChild(renderer_container);
              // create Model Viewer Canvas
              const viewer_canvas = document.createElement('canvas');
              viewer_canvas.id = 'Model-Viewer2';
              container.style.width = '100%';

              // Calculate Height based on 16:9 ratio
              const ratio = 9 / 16;
              const height = container.width * ratio;
              container.style.height = '${height}px';
              renderer_container.appendChild(viewer_canvas);

              // function from 3d model viewer script
              if (model3d_script_loaded === true) {
                var viewer_script = document.getElementById("model_3d_script");
                
                updateCanvas();
                console.log("Update Canvas");
              }

              model3d_script_loaded = true;
          }
          // Virtual Tour Loading Helper Functions
          function loadScript_virtual_tour(src, callback) {
            const script = document.createElement('script');
            script.src = src;
            script.type =  'text/javascript';
            document.head.appendChild(script);
          }

          function loadStyles_virtual_tour(src, callback) {
            const styles = document.createElement('link');
            styles.rel = 'stylesheet';
            styles.href = src;
            document.head.appendChild(styles);
          }

          function load360TourViewer(container_) {
              // Load Scripts and styles for 360 Tour Viewer
              // load styles
              loadStyles_virtual_tour('https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css', function() {
                  console.log('Virtual Tour Styles loaded.');
              });

              // load tour supporting js script
              loadScript_virtual_tour('https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js', function() {
                  console.log('Virtual Tour - pannellum script loaded.');
              });
              tour_script_loaded = true;

              // load tour viewer script
              loadScript_virtual_tour('/static/js_scripts/Panorama_Image_Viewer.js', function() {
                console.log('Virtual Tour Viewer script loaded.');
              });

              // Render 360 Tour
              // create panorama container div
              const tour_container_div = document.createElement('div');
              tour_container_div.id = "panorama";
              container_.appendChild(tour_container_div);
          }

          function loadOrtho2DViewer(container_) {
              // Load Scripts and styles for 2D ortho Viewer
              ortho2D_script_loaded = true;
              // Render 2D ortho
          }

          function loadVideoViewer(container_) {
              // Load Scripts and styles for Video Viewer
              video_script_loaded = true;

          }

          // Set Default Viewer
          window.onload = function() {
            switchViewer('tour360');
          }

      </script> 
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <button class="btn bg-dark" style="color: white;">Download All Assets</button>
            </div>
        </div>
    </div>
{% endblock %}