{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/dashboard">
                    <button>
                        <span class="material-symbols-outlined">
                            arrow_left_alt
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="row" >
            <div class="col-6">
                <h1>{{ username }} Project View</h1>
                <h5>Description: {{ project_view_data.description }}</h5>
                <h5>Location: {{ project_view_data.project_location }}</h5>
                <p>Date: {{ project_view_data.date }}</p>
            </div>
        </div>
        <!-- Content Viewer -->
        <div class="row">
            <div class="col-12">
                <div class="col-12 rounded-top" style="text-align: center; background-color: rgb(216, 188, 105);">
                    <button id="tour_button" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('tour360')">Virtual Tour</button>
                    <button id="model3d_button" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('model3D','{{ project_view_data.project_model_objs[0].model_url }}')">3D Model</button>
                    <button id="ortho_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('ortho2D', '{{ project_view_data.project_ortho_objs[0].ortho_url }}')">2D Orthomosaic</button>
                    <button id="video_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('video', '{{ project_view_data.project_video_objs[0].video_url }}')">Video</button>
                    <button id="image_btn" class="btn bg-dark m-2" style="color: white;" onclick="switchViewer('stills')">Still Images</button>
                </div>
                <div class="row">
                    <div class="col-12" id="viewer_container" style="background-color: slategray; padding: 0;">
                        <p>Viewer type:</p>
                        <!-- Virtual Tour -->
                        <!-- 3D Model -->
                        <!-- 2D Orthomosaic -->
                        <!-- Videography -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Assets section list  -->
        <div class="row">
            <div class="col-12">
                <div id="section_assets_tour" style="white-space: nowrap; background-color: rgb(37, 37, 37); display: none;">
                    {% for tour in  project_view_data.virtual_tour_objs %}
                        <div class="card m-2" style="width: 18rem; display: inline-block; text-align:center; background-color: rgb(171, 210, 113);">
                            <div class="card-body">
                                <h5 class="card-title">{{tour.creation_date}}</h5>
                                <p style="color: black;">{{tour.tour_desc}}</p>
                            </div>
                            <a class="btn btn-primary col-6 mb-1 asset-button" onclick="load_tour()">View Tour</a>
                        </div>
                    {% endfor %}
                </div>
                <div id="section_assets_model" style="white-space: nowrap; background-color: rgb(37, 37, 37); display: none;">
                    {% for model in  project_view_data.project_model_objs %}
                    <div class="card m-2" style="width: 18rem; display: inline-block; text-align:center; background-color: rgb(171, 210, 113);">
                        <div class="card-body">
                            <h5 class="card-title">{{model.model_desc}}</h5>
                        </div>
                        <a class="btn btn-primary col-6 mb-1 asset-button" onclick="load_model('{{ model.model_url }}')">View Model</a>
                    </div>
                    {% endfor %}
                </div>
                <div id="section_assets_ortho" style="white-space: nowrap; background-color: rgb(37, 37, 37); display: none;">
                    {% for ortho in  project_view_data.project_ortho_objs %}
                    <div class="card m-2" style="width: 18rem; display: inline-block; text-align:center; background-color: rgb(171, 210, 113);">
                        <div class="card-body">
                            <h5 class="card-title">{{ortho.ortho_desc}}</h5>
                        </div>
                        <a class="btn btn-primary col-6 mb-1 asset-button" onclick="load_ortho('{{ ortho.ortho_url }}')">View Ortho</a>
                    </div>
                    {% endfor %}
                </div>
                <div id="section_assets_video" style="white-space: nowrap; background-color: rgb(37, 37, 37); display: none;">
                    {% for video in  project_view_data.project_video_objs %}
                    <div class="card m-2" style="width: 18rem; display: inline-block; text-align:center; background-color: rgb(171, 210, 113);">
                        <div class="card-body">
                            <h5 class="card-title">{{video.video_desc}}</h5>
                        </div>
                        <a class="btn btn-primary col-6 mb-1 asset-button" onclick="load_video('{{ video.video_url }}')">View Video</a>
                    </div>
                    {% endfor %}
                </div>
                <div id="section_assets_still" style="white-space: nowrap; background-color: rgb(37, 37, 37);">
                    {% for still in  project_view_data.project_still_objs %}
                    <div class="card m-2" style="width: 18rem; display: inline-block; text-align:center; background-color: rgb(171, 210, 113);">
                        <div class="card-body">
                            <h5 class="card-title">{{still.photo_desc}}</h5>
                        </div>
                        <a class="btn btn-primary col-6 mb-1 asset-button" onclick="load_still('{{ still.photo_url }}')">View Still</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- load project data script -->
        <script>
            //load project data
            const client_services = {
                model_serv: '{{ project_view_data.client_services_obj.model_serv }}',
                tour_serv: '{{ project_view_data.client_services_obj.tour_serv }}',
                ortho_serv: '{{ project_view_data.client_services_obj.ortho_serv }}',
                video_serv: '{{ project_view_data.client_services_obj.video_serv }}',
                still_serv: '{{ project_view_data.client_services_obj.stills_serv }}'
            };

            const poroject_status = {
                airspace_auth: '{{ project_view_data.project_status_obj.airspace_auth }}',
                init_site_visit: '{{ project_view_data.project_status_obj.init_site_vist }}',
                flight_plan_created: '{{ project_view_data.project_status_obj.flight_plan_created }}',
                data_collected: '{{ project_view_data.project_status_obj.data_collected }}',
                data_processed: '{{ project_view_data.project_status_obj.data_processed }}',
                deliverables_uploaded: '{{ project_view_data.project_status_obj.deliverables_uploaded }}'
            }
            
            // May throw errors in code editor ignore... jinja2 format, code is safe to run.
            const project_tours = [
                {% for tour in project_view_data.virtual_tour_objs %}
                    { 
                        tour_id: '{{ tour.tour_id }}',
                        creation_date: '{{ tour.creation_date }}',
                        tour_desc: '{{ tour.tour_desc }}',
                        tour_imgs: [
                            {% for tour_img in tour.tour_imgs %}
                                {
                                    tour_proj_id: '{{ tour_img.tour_proj_id }}',
                                    tour_img_id: '{{ tour_img.tour_img_id }}',
                                    photo_url: '{{ tour_img.photo_url }}'
                                },
                            {% endfor %}
                        ] 
                    },
                {% endfor %}
            ];

            const project_models = [
                {% for model in project_view_data.project_model_objs %}
                    {
                        model_id: '{{ model.id }}',
                        model_url: '{{ model.model_url }}',
                        model_desc: '{{ model.model_desc }}'
                    },
                {% endfor %}
            ];

            const project_orthos = [
                {% for ortho in project_view_data.project_ortho_objs %}
                    {
                        ortho_id: '{{ ortho.ortho_id }}',
                        ortho_url: '{{ ortho.ortho_url }}',
                        ortho_desc: '{{ ortho.ortho_desc }}'
                    },
                {% endfor %}
            ];

            const project_videos = [
                {% for video in project_view_data.project_video_objs %}
                    {
                        video_id: '{{ video.video_id }}',
                        video_url: '{{ video.video_url }}',
                        video_desc: '{{ video.video_desc }}'
                    },
                {% endfor %}
            ];

            const project_stills = [
                {% for still in project_view_data.project_still_objs %}
                    {
                        still_id: '{{ still.still_id }}',
                        still_url: '{{ still.still_url }}',
                        is_progression: '{{ still.is_progression }}',
                        photo_desc: '{{ still.photo_desc }}'
                    },
                {% endfor %}
            ];


            console.log(project_stills); // Left off here

            // Create current asset manager for all assets to load all correct data from db.

            function hide_menus() {
                // Hide all menus
                const all_menus = document.querySelectorAll('div[id^="section_assets_"]')
                console.log(all_menus);

                all_menus.forEach(function(menu) {
                    // hide menu
                    menu.style.display = 'none';
                });
            }

            function show_current_asset_selection_menu(asset_type) {
                hide_menus()
                reset_asset_buttons();
                switch(asset_type) {
                    case 'tour':
                        menu = document.getElementById('section_assets_tour');
                        menu.style.display = 'block';
                    break;
                    case 'model':
                        menu = document.getElementById('section_assets_model');
                        menu.style.display = 'block';
                        console.log('show model menu');
                    break;
                    case 'ortho':
                        menu = document.getElementById('section_assets_ortho');
                        menu.style.display = 'block';
                        console.log('show ortho menu');
                    break;
                    case 'video':
                        menu = document.getElementById('section_assets_video');
                        menu.style.display = 'block';
                        console.log('show video menu');
                    break;
                    case 'still':
                        menu = document.getElementById('section_assets_still');
                        menu.style.display = 'block';
                        console.log('show stills menu');
                    break;
                }
            }
            // load virtual tour assets
            function load_tour() {
                reset_asset_buttons();
                var asset_button = this; //button element
                asset_button.disabled = true;
                switchViewer('tour')
                console.log('load new tour');
            }
            //import { load_new_model } from './static/js_scripts/3d_model_viewer.js';
            // load 3d model assets
            function load_model(asset_url) {
                reset_asset_buttons();
                var asset_button = this;
                asset_button.disabled = true;
                //load_new_model(asset_url); // function from 3d model viewer
                //reloadViewerScript(asset_url); // reload 3d model script
                console.log('load new model ' +  asset_url);
            }
            // load 2D Orthomosaics assets
            function load_ortho(asset_url) {
                reset_asset_buttons();
                var asset_button = this;
                asset_button.disabled = true;
                switchViewer('ortho', asset_url)
                console.log('load new ortho ' + asset_url);
            }
            //load video asset
            function load_video(asset_url) {
                reset_asset_buttons();
                var asset_button = this;
                asset_button.disabled = true;
                switchViewer('video ', asset_url)
                console.log('load new video ' + asset_url);
            }

            // load still image assets
            function load_still(asset_url) {
                reset_asset_buttons();
                var asset_button = this;
                asset_button.disabled= true;
                switchViewer('video ', asset_url)
                console.log('load new still' + asset_url);
            }
            // near future create function for progression imgs

            function reset_asset_buttons() {
                asset_buttons = Array.from(document.getElementsByClassName('asset-button'));
                asset_buttons.forEach(function(button) {
                    // hide menu
                    button.disabled = false;
                });
            }
        </script>

      <!-- Project View Script -->
      <script>
          const container = document.getElementById('viewer_container');
          
          // booleans to track what view scripts have been loaded
          tour_script_loaded = false;
          model3d_script_loaded = false;
          ortho2D_script_loaded = false;
          video_script_loaded = false;
          image_script_loaded = false;

          // Switch Content display type
          function switchViewer(viewerType, asset_url) {
              switch (viewerType) {
                case 'tour360':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Virtual Tour");
                    para.appendChild(node);

                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    // display view tour button as disabled
                    var button = document.getElementById('tour_button');
                    button.disabled = true;

                    load360TourViewer(container);
                    // show menu
                    show_current_asset_selection_menu('tour')
                    break;
                case 'model3D':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("3D Model View");
                    para.appendChild(node);
                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    // display model view button as disabled.
                    var button = document.getElementById('model3d_button');
                    button.disabled = true;

                    if (asset_url !== undefined) {
                        load3DModelViewer(container, asset_url);
                    } else {
                        load3DModelViewer(container);
                    }
                    

                    // show menu
                    show_current_asset_selection_menu('model')
                    break;
                case 'ortho2D':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("2D OrthoMosaic View");
                    para.appendChild(node);
                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    //display ortho view button as disabled.
                    var button = document.getElementById('ortho_btn');
                    button.disabled = true;

                    if (asset_url !== undefined) {
                        loadOrtho2DViewer(container, asset_url);
                    } else {
                        loadOrtho2DViewer(container);
                    }
                    // show menu
                    show_current_asset_selection_menu('ortho')
                    break;
                case 'video':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Video View");
                    para.appendChild(node);

                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    //display Video view button as disabled
                    var button = document.getElementById('video_btn');
                    button.disabled = true;

                    if (asset_url !== undefined) {
                        loadVideoViewer(container, asset_url);
                    } else {
                        loadVideoViewer(container);
                    }

                    // show menu
                    show_current_asset_selection_menu('video')
                    break;
                case 'stills':
                    container.innerHTML = ''; //Clear previous content
                    var para = document.createElement("h5");
                    para.style.textAlign = 'center';
                    var node = document.createTextNode("Still Image View");
                    para.appendChild(node);

                    container.appendChild(para);

                    // Reset Disabled buttons
                    resetViewButtons();

                    //display Image view button as disabled
                    var button = document.getElementById('image_btn');
                    button.disabled = true;

                    // Create function to display photos

                    // show menu
                    show_current_asset_selection_menu('still')
                    break;

              }
          }

          //Reset Disabled View Buttons
          function resetViewButtons() {
              const tour_btn = document.getElementById("tour_button");
              tour_btn.disabled = false;
              const model_btn = document.getElementById("model3d_button");
              model_btn.disabled = false;
              const ortho_btn = document.getElementById("ortho_btn");
              ortho_btn.disabled = false;
              const video_btn = document.getElementById("video_btn");
              video_btn.disabled = false;
              const image_btn = document.getElementById("image_btn");
              image_btn.disabled = false;
          }

          //3D Model Helper Functions
          function loadScript_model3d(src, asset_url ,callback) {
              const script = document.createElement('script');
              script.src = src;
              script.type = 'module'
              script.setAttribute('model_url',asset_url); // dynamically load project url from database
              script.id = 'model_3d_script';
              script.defer = true;
              document.head.appendChild(script);
          }

          function loadAsyncScript_model3d(src, callback) {
            const script = document.createElement('script');
            script.src = src;
            script.async = true
            script.id = "model_3d_async_script";
            document.head.appendChild(script);
          }

          function addImportMap_model_3d(mapContent) { 
              const script = document.createElement('script');
              script.type = 'importmap';
              script.textContent = JSON.stringify(mapContent);
              script.id = "model_3d_import_map";
              document.head.appendChild(script);
           }

           // Other Model Helper functions

           // Reload 3D Model Viewer Script
           function reloadViewerScript(asset_url) {
               var oldScript_async = document.getElementById("model_3d_async_script");
               var parent = oldScript_async.parentElement;
               parent.removeChild(oldScript_async);

               var oldScript_Import_Map = document.getElementById("model_3d_import_map");
               parent = oldScript_viewer.parentElement;
               parent.removeChild(oldScript_Import_Map);

               var oldScript_viewer = document.getElementById("model_3d_script");
               parent = oldScript_viewer.parentElement;
               parent.removeChild(oldScript_viewer);
               

               // Reload Script
               loadAsyncScript_model3d('https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js', function() {
                    console.log('3D Model Helper Script Loaded')
                });
              
                const importMapContent = {
                    "imports": {
                        "three": "https://unpkg.com/three@v0.154.0/build/three.module.js",
                        "three/addons/": "https://unpkg.com/three@v0.154.0/examples/jsm/"
                    }
                }

                addImportMap_model_3d(importMapContent);

               loadScript_model3d('/static/js_scripts/3d_model_viewer.js',asset_url,function() {
                console.log('3D Model Viewer Script Loaded');
                });
           }

          // Create View Loaders
          function load3DModelViewer(container_, asset_url) {
              console.log(model3d_script_loaded);
              if (model3d_script_loaded === false) {
                // Load Scripts and styles for 3D Model Viewer
                loadAsyncScript_model3d('https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js', function() {
                    console.log('3D Model Helper Script Loaded')
                });
              
                const importMapContent = {
                    "imports": {
                        "three": "https://unpkg.com/three@v0.154.0/build/three.module.js",
                        "three/addons/": "https://unpkg.com/three@v0.154.0/examples/jsm/"
                    }
                }

                addImportMap_model_3d(importMapContent);

                loadScript_model3d('/static/js_scripts/3d_model_viewer.js',asset_url,function() {
                    console.log('3D Model Viewer Script Loaded');
                });
              }

              // Render 3D Model
              // create model-renderer-container div and append to container
              const renderer_container = document.createElement('div');
              renderer_container.id = 'model-renderer-container';
              console.log('3D model Viewer')
              container.appendChild(renderer_container);
              // create Model Viewer Canvas
              const viewer_canvas = document.createElement('canvas');
              viewer_canvas.id = 'Model-Viewer2';
              container.style.width = '100%';

              // Calculate Height based on 16:9 ratio
              const ratio = 9 / 16;
              const height = container.width * ratio;
              container.style.height = '${height}px';
              renderer_container.appendChild(viewer_canvas);

              // function from 3d model viewer script
              if (model3d_script_loaded === true) {
                var viewer_script = document.getElementById("model_3d_script");
                
                updateCanvas();
                console.log("Update Canvas");
              }

              model3d_script_loaded = true;
          }
          // Virtual Tour Loading Helper Functions
          function loadScript_virtual_tour(src, callback) {
            const script = document.createElement('script');
            script.src = src;
            script.type =  'text/javascript';
            document.head.appendChild(script);
          }

          function loadStyles_virtual_tour(src, callback) {
            const styles = document.createElement('link');
            styles.rel = 'stylesheet';
            styles.href = src;
            document.head.appendChild(styles);
          }

          function load360TourViewer(container_) {
              // Load Scripts and styles for 360 Tour Viewer
              // load styles
              loadStyles_virtual_tour('https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css', function() {
                  console.log('Virtual Tour Styles loaded.');
              });

              // load tour supporting js script
              loadScript_virtual_tour('https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js', function() {
                  console.log('Virtual Tour - pannellum script loaded.');
              });
              tour_script_loaded = true;

              // load tour viewer script
              loadScript_virtual_tour('/static/js_scripts/Panorama_Image_Viewer.js', function() {
                console.log('Virtual Tour Viewer script loaded.');
              });

              // Render 360 Tour
              // create panorama container div
              const tour_container_div = document.createElement('div');
              tour_container_div.id = "panorama";
              container_.appendChild(tour_container_div);

              // Create functionality to load panos from database
          }

          function loadOrtho2DViewer(container_, asset_url) {
              // Load Scripts and styles for 2D ortho Viewer
              const ortho_div = document.createElement('div');
              ortho_div.style.justifyContent = 'center';
              ortho_div.style.display = 'flex';
              ortho_div.style.padding = '0';

              const ortho_image = document.createElement('img');
              ortho_image.src  = asset_url;

              // Resize ortho to fit in container
              const ratio = 1 / 2;
              width = container.style.width;
              ortho_image.style.width = '60%';
              console.log(width);

              // Apply Rotation if needed
              ortho_image.style.transform = 'rotate(-90deg)'; // todo: add database attribute for rotation

              //Add ortho to ortho div
              ortho_div.append(ortho_image)
              container_.appendChild(ortho_div);

              ortho2D_script_loaded = true;
              // Render 2D ortho
          }

          function loadVideoViewer(container_, asset_url) {
            // Load Scripts and styles for Video Viewer
            // create video div
            const video_div = document.createElement('div');
            video_div.style.display = 'flex';
            video_div.style.justifyContent = 'center';

            //create video element
            const video_element = document.createElement('video');
            video_element.autoplay = true;
            video_element.muted = true;
            video_element.playsInline = true;
            video_element.loop = true;
            video_element.style.width = '100%';
            
            //add video element to video div
            video_div.appendChild(video_element);

            // Create source Element
            const source_element = document.createElement('source');
            source_element.src = asset_url;
            source_element.type = 'video/mp4';

            // add source element to video element
            video_element.appendChild(source_element);

            // add video div to view container
            container_.appendChild(video_div);

              video_script_loaded = true;

          }

          // Set Default Viewer
          window.onload = function() {
            switchViewer('tour360');
          }

      </script> 
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <button class="btn m-3" style="color: white; background-color: rgb(58, 119, 84);">Download All Assets</button>
            </div>
        </div>
    </div>
{% endblock %}