{% extends 'base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js_scripts/validation.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="m-3" style="text-align: center; color: white;" >Admin Login</h3>
        </div>

        <div class="col-12">
            <form method="post">
                <div class="row">
                    <div class="col-12" style="justify-content: center; display: flex;">
                        <label for="admin_username" class="me-1" style="color: white;">Admin Username:</label>
                        <input type="text" id="admin_username" name="admin_username" required>
                    </div>
                </div>
                <div class="col-12 mt-2" style="justify-content: center; display: flex;">
                    <label for="admin_password" class="me-1" style="color: white;">Password:</label>
                    <input type="password" id="admin_password" name="admin_password" required>
                </div>
                <div class="col-12 mt-2" style="justify-content: center; display: flex;">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // get fields
    const username_field = document.getElementById('admin_username');
    const password_field = document.getElementById('admin_password');

    // get labels
    const username_label = document.querySelector('[for="admin_username"]');
    const password_label = document.querySelector('[for="admin_password"]');

    username_field.addEventListener('focusout', function() {
        // Validate field
        validateText(username_field, username_label, 3, 80);
    });

    password_field.addEventListener('focusout', function() {
        // Validate field
        validateText(password_field, password_label, 2, 30);
    });

</script>
{% endblock %}