{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h3 style="text-align: center;">Admin Project View</h3>
<div class="row">
    <div class="col-12">
        <a href="/admin-dashboard">
            <button>
                <span class="material-symbols-outlined">
                    arrow_left_alt
                </span>
            </button>
        </a>
    </div>
</div>

<div class="container" style="color: white;">
    <!-- Client Username  -->
    <h5>Client: {{ admin_proj_view_obj.client_username }}</h5>
    <!-- Client ID -->
    <h6>Client ID: {{ admin_proj_view_obj.client_id }}</h6>
    <!-- Project Creation Date -->
    <h6>Project Creation: {{ admin_proj_view_obj.date }}</h6>
    <!-- project_location -->
    <h6>Location: {{ admin_proj_view_obj.project_location }}</h6>
    <!-- project_description -->
    <p>Description: {{ admin_proj_view_obj.project_desc }}</p>
    
    <!-- Selected Services, add ability to add services -->
    <h4>Project Services</h4>
    <table class="table">
        <thead>
            <tr style="color: white;">
                <th scope="col">still imagary service</th>
                <th scope="col">Videography Service</th>
                <th scope="col">3D Model Service</th>
                <th scope="col">Orthomosaic Service</th>
                <th scope="col">Virtual Tour Service</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color: rgb(89, 216, 233);">
                <td>{{ admin_proj_view_obj.services_obj.stills_service }}</td>
                <td>{{ admin_proj_view_obj.services_obj.video_service }}</td>
                <td>{{ admin_proj_view_obj.services_obj.model_service }}</td>
                <td>{{ admin_proj_view_obj.services_obj.ortho_service }}</td>
                <td>{{ admin_proj_view_obj.services_obj.tour_service }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Project Workflow State -->
    <!-- Project Models 3D -->
    <div class="row">
        <h4>Project 3D Models</h4>
    {% for model in admin_proj_view_obj.models_3d_obj %}
        <div class="col-6">
            <div class="card m-1" style="color: black;">
                <h6>Model ID: {{ model.model_id }}</h6>
                <h6>Model Project ID: {{ model.project_id }}</h6>
                <label for="model_url_input"> Model URL:</label>
                <input type="text" name="model_url_input" id="model_url_input" value="{{ model.model_url }}">
                <label for="model_desc_input">Model Desc:</label>
                <input type="text" name="model_desc_input" id="model_desc_input" value="{{ model.model_desc }}" readonly=true>
            </div>
        </div>
        <div class="col-6 tour_button_container_{{ model.model_id }}">
            <button class="btn bg-primary" style="color: white;" onclick="modifyAsset('model', {{ model.model_id }})">Modify Model {{ model.model_id }}</button>
        </div>
    {% endfor %}
    </div>
    <div class="row">
          <!-- Project Virtual Tours -->
    <h4>Project Virtual Tours</h4>
    {% for tour in admin_proj_view_obj.tours_obj %}
        <div class="col-6">
            <div class="card m-1" style="color: black;">
                <h6>Virtual Tour ID: {{ tour.id }}</h6>
                <h6>Virtual Tour Project ID: {{ tour.project_id }}</h6>
                <h6>Tour Creation Date: {{ tour.date }}</h6>
                <label for="tour_desc_input">Tour Desc:</label>
                <input type="text" name="tour_desc_input" id="tour_desc_input" value="{{ tour.tour_desc }}" readonly=true>
            </div>
        <!-- Add Tour Images -->
        </div>
        <div class="col-6 tour_button_container_{{ tour.id }}"> 
            <button class="btn bg-primary" style="color: white;" onclick="modifyAsset('tour', {{ tour.id }})" >Modify Tour {{ tour.tour_id }}</button>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <!-- Project orthomosaics -->
        <h4>Project Othomosaics</h4>
        {% for ortho in admin_proj_view_obj.orthos_obj %}
        <div class="col-6">
            <div class="card m-1" style="color: black;">
                <h6>Ortho ID: {{ ortho.ortho_id }}</h6>
                <h6>Ortho Project ID: {{ ortho.project_id }}</h6>
                <label for="ortho_url_input">Ortho URL:</label>
                <input type="text" name="ortho_url_input" id="ortho_url_input" value="ortho.ortho_url" readonly=true>
                <label for="ortho_desc_input">Ortho Desc:</label>
                <input type="text" name="ortho_desc_input" id="ortho_desc_input" value="{{ ortho.ortho_desc }}" readonly=true>
            </div>
        </div>
        <div class="col-6">
            <button class="btn bg-primary" style="color: white;" onclick="modifyAsset('ortho', {{ ortho.ortho_id }})" >Modify Ortho {{ ortho.ortho_id }}</button>
        </div>
        {% endfor %}
    </div>
    <div class="row">
         <!-- Project Still Photos -->
        <h4>Project Still Image</h4>
        {% for photo in admin_proj_view_obj.stills_obj %}
        <div class="col-6">
            <div class="card m-1" style="color: black;">
                <h6>Image ID: {{ photo.id }}</h6>
                <h6>Image Project ID: {{ photo.project_id }}</h6>
                <label for="image_url_input">Image URL:</label>
                <input type="text" name="image_url_input" id="image_url_input" value="{{ photo.photo_url }}" readonly=true>
                {% if photo.is_progression_photo %}
                    <label for="progression_bool">Progression Image:</label>
                    <input type="checkbox" name="progression_bool" id="progression_bool" value="progression" disabled=true checked>
                {% else %} 
                    <label for="progression_bool">Progression Image:</label>
                    <input type="checkbox" name="progression_bool" id="progression_bool" value="progression" disabled=true >
                {% endif %}
                <label for="image_desc_input">Image Desc:</label>
                <input type="text" name="image_desc_input" id="image_desc_input" value="{{ photo.photo_desc }}" readonly=true>
            </div>
        </div>
        <div class="col-6 photo_button_container_{{ photo.id }}">
            <button class="btn bg-primary" style="color: white;" onclick="modifyAsset('still', {{ photo.id }})" >Modify Still {{ photo.id }}</button>
        </div>
        {% endfor %}
    </div>
   <div class="row">
        <!-- Project Videos -->
        <h4>Project Videography</h4>
        {% for video in admin_proj_view_obj.videos_obj %}
        <div class="col-6">
            <div class="card m-1" style="color: black;">
                <h6>Video ID: {{ video.id }}</h6>
                <h6>Video Project ID: {{ video.project_id }}</h6>
                <label for="video_desc_input">Video Desc:</label>
                <input type="text" name="video_desc_input" id="video_desc_input" value="{{ video.video_desc }}" readonly=true>
            </div>
        </div>
        <div class="col-6 video_button_container_{{ video.id }}">
            <button class="btn bg-primary" style="color: white;" onclick="modifyAsset('video', {{ video.id }})" >Modify Video {{ video.video_id }}</button>
        </div>
        {% endfor %}
   </div>
   <!-- admin project view script-->
   <script>
       const asset_types = {
           MODEL : 'model',
           TOUR : 'tour',
           ORTHO : 'ortho',
           STILL : 'still',
           VIDEO : 'video'
       }
       function modifyAsset(asset_type, asset_id) {
           switch(asset_type) {
               case "model":
                   console.log("modify 3d model, asset ID: " + asset_id);
                   // disable modify button
                   // show save button once values are update 
                   //cancel button
                   break;
                case "tour":
                    console.log("modify virtual tour, asset ID: " + asset_id);
                    break;
                case "ortho":
                    console.log("modify ortho, asset ID: " + asset_id);
                    break;
                case "still":
                    console.log("modify still image, asset ID: " + asset_id);
                    break;
                case "video":
                    console.log("modify video, asset ID: " + asset_id);
                    break;
           }
       }
   </script>

</div>
{% endblock %}