#Ignore Test Models
RidgeWood_Final_Model.glb
skull_model/

#Ignore Virtual Enviorment
venv/

#Ignore Enviorment variables
.env

#Ignore Dev Database log file and instance directory
logfile

#Ignore cache
__pycache__/