h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
}

.company-brand {
    float: left;
    color: rgb(34, 34, 34);
    width: 85%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px; /* Set a fixed height for the footer */
}

.page-title {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.home-page-title {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5em;
}

.sub-heading {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
}

@media screen and (max-width:767px) {
    .home-page-title {
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: bolder;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2em;
    }

    .sub-heading {
        color: rgb(255, 255, 255);
        font-weight: bolder;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        font-family: 'Quicksand', sans-serif;
        font-size: 1em;
    }
}

.call-to-action-btn {
    --bs-btn-color: rgb(53, 52, 52);
    font-size: 100rem;
    border-color: rgb(255, 255, 255) !important;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.call-to-action-btn:hover {
    border-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.call-to-action-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.call-to-action-btn a:hover {
    color: rgb(0, 0, 0);
}

.card-title {
    font-family: 'Quicksand', sans-serif !important;
}

.left-align-desc {
    text-align: right;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

.services-list-text {
    margin-left: 1.5em;
    vertical-align: middle;
    margin-bottom: 0%;
    display: inline-block;
   /* align-items: center; */
}

#panorama {
    width: 100%;
    height: 80vh;
}

#pano2 {
    width: 100%;
    height: 50vh;
}

.contact-form-text {
    color:blanchedalmond;
}

nav .nav-bar-link-text {
    color: seashell;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.model-view-controls-text {
    color: seashell;
}

.hero-image-container {
    background-image: url('https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/Site_Images/Construction_Birds_Eye_View.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: right 50% bottom 25%;
    display: flex;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hero-image-filter {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: grayscale(5%) opacity(100%) blur(2.5px);
    flex: 1;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body_container {
    flex: 1;
}

.no-wrap-text {
    white-space: nowrap;
}

li a{
    /* Default link styles */
    color: white;
    text-decoration: none;
    /*background-color: rgb(33, 37, 41);*/
    /*background: linear-gradient(to bottom,#373A3E ,#373A3E);*/
}

li a:hover {
    /* Hover Styles */
    background-color: rgb(33, 37, 41);
    color: black;
}

.dropdown-menu.show {
    --bs-dropdown-bg:  rgb(33, 37, 41);
}

.services_card {
    width: 15rem;
    height: 200px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    /*--bs-card-bg: rgb(53, 54, 56)!important;*/
    --bs-card-bg: none!important;
    backdrop-filter: blur(30px) grayscale(30%);
    -webkit-backdrop-filter: blur(30px);
}


.services_card p {
    color: rgb(255, 255, 255);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
}

.services_card h5 {
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.services_card_button {
    width: 50%;
    position: sticky;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    --bs-btn-bg: rgba(0, 0, 0, 0.473) !important;
    --bs-hover-btn-bg: rgba(0, 0, 0, 0.747) !important;
}

.services_sub-heading {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:2rem!important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
}

.services_heading {
    text-align: center;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

body p {
    color: rgb(194, 197, 199);
}

body ol {
    color: rgb(194, 197, 199);
}

.get_started_section h2 {
    color: rgb(194, 197, 199);
}

.get_started_section h3 {
    color: rgb(194, 197, 199);
}

.get_started_section h4 {
    color: rgb(194, 197, 199);
    font-family: 'Quicksand', sans-serif;
}

.get_started_section h5 {
    font-family: 'Geologica', sans-serif;
}

.get_started_heading {
    text-align: center;
    margin-bottom: 1rem;
}

.get_started_section p {
    font-family: 'Quicksand', sans-serif;
}

.get_started_section {
    background-image: url('https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/Parallax_Images/construction%20property_clipdrop-enhance.jpeg');
    background-size: 100%;
}

.bold-text {
    font-weight: bold;
}

/*Visual Preview styles*/
.visual_preview_text_container {
    display: grid;
    place-items: center;
}

.visual_preview_txt_right {
    text-align: right;
}

@media screen and (max-width:767px) {
    .visual_preview_txt_right {
        text-align: center;
    }
}

.visual_preview_txt_left {
    text-align: left;
}

@media screen and (max-width:767px) {
    .visual_preview_txt_left {
        text-align: center;
    }
}

/* Parallax Effect */
.parallax-container {
    position: relative;
    overflow: hidden;
    background-size: cover;
    /*background-position: center 10px;*/
}

.parallax-content {
    position: relative;
    padding: 20px;
}

.services-parallax {
    background-image: url('https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/Site_Images/Parallax-Images/construction_parallax_01_clipdrop-enhance.jpeg');
    height: 800%; /* Adjust based on requirements */
}

.parallax-choose-us {
    background-image: url('https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/Parallax_Images/A%20detailed%20building%20under%20construction%20grayscale_clipdrop-enhance.jpeg');
    height: 800%; /* Adjust based on requirements */
}

.content-box {
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(25px) grayscale(25%);
    -webkit-backdrop-filter: blur(30px);
}

.content-box p {
    font-family: 'Quicksand', sans-serif;
}

.content-box li {
    font-family: 'Quicksand', sans-serif;
}

.content-box h5 {
    font-family: 'Geologica', sans-serif;
}

.paragraph-content-box-glass {
    padding: 2px;
    margin: 3px auto;
    background-color: none;
    backdrop-filter: blur(25px) grayscale(25%);
    -webkit-backdrop-filter: blur(30px);
}