{% extends 'base.html' %}

{% block head %}
<!-- 3D Models-->
<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
<script type="importmap">
{
    "imports": {
        "three": "https://unpkg.com/three@v0.154.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.154.0/examples/jsm/"
    }
}
</script>

<!-- Pannellum -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
{% endblock %}

{% block body %}
<h1 class="page-title mb-3">Visual Preview Formats</h1>

<!-- 2D Orthomosaic -->
<h3 style="color: white; text-align: center;"> 2D Orthomosaic</h3>
<div class="row">
    <div class="col-lg-4 col-md-5 visual_preview_text_container">
        <p class="visual_preview_txt_right">
            With our 2D Orthomosaic services, we offer precision mapping of your construction site. This service provides a detailed, accurate, and scaled aerial view of the site, making it an invaluable tool for surveying, planning, and monitoring construction progress.
        </p>
    </div>
    <div class="col-lg-8 col-md-7" style="justify-content: center; display: flex; padding: 0;">
        <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/orthomosaic_photos/Ridge_Wood_orthophoto.png" alt="2D Orthophoto" style="width: 55%; height: auto; transform: rotate(-90deg);">
    </div>
</div>

<!-- Property Virtual Tour -->
<h3 class="page-title mt-5 mb-3" style="text-align: center;">Property Virtual Tour</h3>
<div class="container-fluid">
    <div class="row" style="justify-content: center;">
        <div class="col-lg-8 col-md-7">
            <!-- Panorma -->
            <div id="panorama" class="rounded-3 mb-5"></div>
            <script src="static/js_scripts/Panorama_Image_Viewer.js"></script>
        </div>
        <div class="col-lg-4 col-md-5 visual_preview_text_container">
            <p class="visual_preview_txt_left">
                Our Virtual Tour service takes you on a comprehensive and immersive tour of your project. This interactive tool lets you explore the construction site remotely, offering 360-degree views that are perfect for project reviews, presentations, or marketing materials.
            </p>
        </div>
    </div>
</div>

<!-- Videography -->
<h3 style="color: white; text-align: center;"> Aerial Videography of Property </h3>
<div class="row">
    <div class="col-lg-4 col-md-5 visual_preview_text_container">
        <p class="visual_preview_txt_right">
            Take the visual narrative a notch higher with our aerial videography services. We create stunning high-definition videos, providing dynamic views of your construction site from various angles. Use our progression videography service to visually document your project's evolution in a captivating and engaging format.
        </p>
    </div>
    <div class="col-lg-8 col-md-7" style="display: flex; justify-content: center;">
        <video autoplay muted style="width: 85%;  height: auto;" class="mb-3">
            <source src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/Videography/Ridge_Wood_School_Property.mp4" type="video/mp4">
        </video>
    </div>
</div>

<h3 class="page-title mb-1" style="text-align: center;">Property 3D Model</h3>
<!-- Loading 3D Models -->
<div class="container-fluid">
    <div class="row" >
        <div class="col-xl-8 col-md-7 col-sm-12 mb-5" id="model-renderer-container">
            <div class="col-12 canvas-container">
                <canvas id="Model-Viewer2" class="mx-5 rounded-3"></canvas>
                <script type="module" src="static/js_scripts/3d_model_viewer.js"></script>
            </div>
            <!-- 
            <div class="col-12" style=" display: flex; justify-content: center;">
                <div class="mb-3 bg-dark bg-gradient rounded-3 rounded-top-0" style="width: 80%; text-align: center;">
                    <h5 class="model-view-controls-text">View Controls</h5>
                    <div class="row mb-2">
                        <div class="col-2">
                            <button id="FrontView" class="btn bg-black" onmouseout="this.style.color = 'seashell';" onmouseover="this.style.color = 'green';" style="color: seashell;"> Front View </button>
                        </div>
                        <div class="col-2">
                            <button id="RearView" class="btn bg-black" onmouseout="this.style.color = 'seashell';" onmouseover="this.style.color = 'green';" style="color: seashell;"> Rear View </button>
                        </div>
                        <div class="col-4">
                            <button id="ResetView" class="btn bg-black" onmouseout="this.style.color = 'seashell';" onmouseover="this.style.color = 'green';" style="color: seashell;"> Reset View </button>
                        </div>
                        <div class="col-2">
                            <button id="LeftView" class="btn bg-black" onmouseout="this.style.color = 'seashell';" onmouseover="this.style.color = 'green';" style="color: seashell;"> Left View </button>
                        </div>
                        <div class="col-2">
                            <button id="RightView" class="btn bg-black" onmouseout="this.style.color = 'seashell';" onmouseover="this.style.color = 'green';" style="color: seashell;"> Right View </button>
                        </div>
                    </div>   
                </div>
            </div>
            -->
        </div>
        <div class="col-xl-4 col-md-5 col-sm-12 visual_preview_text_container">
            <p class="visual_preview_txt_left">
                Our Property 3D Modeling service uses high-tech drones and sophisticated software to create detailed, interactive 3D models of your construction site, facilitating advanced visualization, and aiding in project planning and presentation.
            </p>
        </div>
    </div>
</div>

<!-- Still Images -->
<!--
<div style="text-align: center;">
    <button class="btn btn-lg mb-3 bg-warning bg-gradient">Download All Assets</button>
</div>
--->
{% endblock %}