{% extends 'base.html' %}

{% block head %} 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital@1&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Services Description and Related Image Section-->
    <div class="row">
        <div class="col-12 hero-image-container">
            <div class="hero-image-filter">
                <!-- Page Title -->
            <h1 class="home-page-title mt-5">Elevating Construction Progress Monitoring</h1>
            <!-- Sub Heading -->
            <h6 class="sub-heading mb-5 mt-4">Superior Aerial Imagery, 2D Orthomosaics, 3D Property Models, and Interactive Virtual Tours </h6>
            <h4 class="sub-heading mb-2">All In One Place, Anytime You Need</h4>
            <button class="btn btn-outline-light call-to-action-btn"> <a href="/contact">Book a Consulation</a></button>
            </div>
        </div>
    </div>
    <script src="static/js_scripts/background_scroll.js"></script>
    <!-- Services Overview -->
    <div class="row parallax-container services-parallax">
        <h2 class="services_heading parallax-content" >What We Do</h2>
        <div class="col parallax-content" style="align-content: center;">
            <div class="card services_card my-1">
                <h5 class="card-title">Aerial Still Images / Progression Still Images</h5>
                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/graphics/Services_graphics/a%20minimal%20camera%20icon_clipdrop-background-removal.png" class="card-img" alt="Aerial Imagery Icon">
                <!-- Possible Graphic Here -->
                <p>
                    Using advanced drones, we provide high-resolution aerial photos of your construction project. Our progression imaging captures your build's evolution, presenting a clear visual timeline for effortless monitoring and sharing with your team and stakeholders.
                </p>
                
                <a href="/data-formats-provided">
                    <button class="btn btn-dark mb-2 services_card_button"> More Detail</button>
                </a>
            </div>
        </div>
        <div class="col parallax-content" style="align-content: center;">
            <div class="card services_card my-1">
                <h5 class="card-title">Aerial Videography / Progression Videography</h5>
                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/graphics/Services_graphics/_a%20minimal%20video%20camera%20icon%20side%20view_clipdrop-background-removal.png" class="card-img" alt="Videography services graphic">
                <p>
                    Elevate your visual narrative with our aerial videography services, offering high-definition videos of your construction site from multiple perspectives. Document your project's progression in a compelling format with our videography service.
                </p>
                <a href="/data-formats-provided#videographySection">
                    <button class="btn btn-dark mb-2 services_card_button"> More Detail</button>
                </a>
            </div>
        </div>
        <div class="col parallax-content" style="align-content: center;">
            <div class="card services_card my-1">
                <h5 class="card-title">Property 3D Models</h5>
                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/graphics/Services_graphics/an%20icon%20that%20represents%20a%203D%20model%20for%20a%20website_clipdrop-background-removal.png" class="card-img" alt="Property Model Graphic">
                <p>
                    Our Property 3D Modeling service uses high-tech drones and sophisticated software to create detailed, interactive 3D models of your construction site, facilitating advanced visualization, and aiding in project planning and presentation.
                </p>
                <a href="/data-formats-provided#ModelsSection">
                    <button class="btn btn-dark mb-2 services_card_button"> More Detail</button>
                </a>
            </div>
        </div>
        <div class="col parallax-content" style="align-content: center;">
            <div class="card services_card my-1">
                <h5 class="card-title">2D Orthomosaics</h5>
                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/graphics/Services_graphics/a%20minimal%20professional%20icon%20of%20a%20satellite%20map%20view%20of%20a%20construction%20property%20grayscale_clipdrop-variants.jpeg" class="card-img" alt="2D Orthomosiac Graphic">
                <p>
                    With our 2D Orthomosaic services, we offer precision mapping of your construction site. This service provides a detailed, accurate, and scaled aerial view of the site, making it an invaluable tool for surveying, planning, and monitoring construction progress.
               </p>
               <a href="/data-formats-provided#orthomosaicSection">
                    <button class="btn btn-dark mb-2 services_card_button"> More Detail</button>
               </a>
            </div>
        </div>
        <div class="col parallax-content" style="align-content: center;">
            <div class="card services_card my-1">
                <h5 class="card-title">Virtual Tour Services for Properties</h5>
                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/Website-Assets/graphics/Services_graphics/a%20minimal%20icon%20that%20represents%20virtual%20tours%20(1)_clipdrop-cleanup_clipdrop-background-removal.png" class="card-img" alt="Virtual Tour Graphics">
                <p>
                    Experience an immersive journey of your project with our Virtual Tour service, allowing remote exploration with 360-degree views, ideal for reviews, presentations, and marketing.
                </p>
                <a href="/data-formats-provided#virtualTourSection">
                    <button class="btn btn-dark mb-2 services_card_button"> More Detail</button>
                </a>
            </div>
        </div>
        <div class="paragraph-content-box-glass rounded-4">
            <h4 class="services_sub-heading">
                Our services are designed to empower construction builders with a comprehensive suite of aerial imaging tools to streamline project tracking, enhance communication, and boost efficiency. Get a complete view of your project, anytime, anywhere, with our cutting-edge aerial imagery services.
            </h4>
        </div>
    </div>

    <!-- Why Choose Us -->
    <div class="row parallax-container parallax-choose-us">
        <div class="col parallax-content">
            <div class="content-box rounded-4">
                <h3 style="text-align: center; color: rgb(194, 197, 199); margin-top: 3rem;">Why Choose Us</h3>
            <ol  class="my-3 mx-4">
                <li>
                    <h5 class="bold-text">Diverse Data Formats</h5>
                    <p>
                        We understand that different projects require different views. That's why we offer a wide range of data formats from high-resolution aerial images, detailed 2D orthomosaics, immersive 3D models, to captivating virtual tours. Whatever your project needs, we've got you covered.
                    </p>
                </li>
                <li>
                    <h5 class="bold-text">Easy Online Viewing</h5>
                    <p>
                        Ease of access is key in today’s digital world. With our services, you can effortlessly view your property’s data formats online. Be it an aerial image, 3D model, or virtual tour, our user-friendly interface makes it simple for you to navigate and explore your project.
                    </p>
                </li>
                <li>
                    <h5 class="bold-text">Downloadable Assets</h5>
                    <p>
                        Not only can you view your assets online, but we also offer the option to download them for offline use. Whether you need to present to stakeholders, incorporate them into a report, or use them for marketing, you have the freedom to use these assets as you need, whenever you need them.
                    </p>
                </li>
                <li>
                    <h5 class="bold-text">Innovative Technology</h5>
                    <p>
                        We employ cutting-edge drone technology and sophisticated software to create detailed and accurate aerial imagery. Our dedication to technology ensures you get the highest quality outputs that offer unique and comprehensive perspectives on your construction project.
                    </p>
                </li>
                <li>
                    <h5 class="bold-text">Customer-Centric Approach</h5>
                    <p>
                        We believe in a customer-centric approach where your needs are our top priority. We work closely with you to understand your specific requirements and deliver tailored solutions that enhance your project planning, tracking, and presentation capabilities.
                    </p>
                </li>
            </ol>
            <h4 class="mb-5" style="text-align: center; color: rgb(194, 197, 199);">
                Choosing us means opting for flexibility, ease of use innovation, and a dedicated partner in your construction journey. Leverage our aerial imagery services to elevate your construction poject management to the next level.
            </h4>
            </div>
        </div>
    </div>

    <!-- How to get started-->
    <div class="row get_started_section">
        <h2 class="get_started_heading">How To Get Started</h2>
        <p class="get_started_heading mb-3">
            Our process is straightforward and designed with your convenience in mind. Here are the steps to get started with our services.
        </p>
        <div class="col">
            <h3>Step One</h3>
            <h4>Get In Touch</h4>
            <p>
                The first step is to get in touch. Fill out the contact form on our website with your contact number, email, and details relating to your project. Alternatively, you can give us a call to provide a brief overview of your project. We're here to listen and understand your needs.
            </p>
        </div>
        <div class="col">
            <h3>Step Two</h3>
            <h4>Service Confirmation</h4>
            <p>
                Next, we will arrange a meeting with you either in person or via email to discuss your project in more detail. This is the time to confirm the services you need and exclude any you don't require. We'll collaborate with you to tailor a solution that perfectly fits your project's needs.
            </p>
        </div>
        <div class="col">
            <h3>Step Three</h3>
            <h4>Scheduling the Flight</h4>
            <p>
                Once we have a clear understanding of your project, we'll schedule the flight. Our pilots will visit the property a day in advance to familiarize themselves with the site and prepare for the flight. We will confirm the flight date with you, ensuring it fits within your project timeline.
            </p>
        </div>
        <div class="col">
            <h3>Step Four</h3>
            <h4>Data Collection & Processing</h4>
            <p>Step Three
                Leave the rest to us. We handle everything from this point forward. We'll operate the drone flight, collect the aerial data, and process it into the required formats. Once processed, you will have access to view your assets online. You also have the option to download the assets for offline use.
            </p>
        </div>
        <h4 class="mt-2 mb-4 get_started_heading">
            Get started with us today and elevate your project monitoring and tracking with our high-quality aerial imagery services. We’re committed to making your construction project a seamless and efficient experience.
        </h4>
    </div>
    <!-- Still Images for Construction Progress Section -->

    <!-- Video Time Lapse Progression Section -->

    <!-- 2D Models for Construction Progress Section -->

    <!-- 3D Models for Construction Progression -->

    <!-- 360 Aerial Virtual Tours for Construction -->

</div>
{% endblock %}