{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Services Description and Related Image Section-->
    <div class="row">
        <div class="col-12 hero-image-container mb-2">
            <!-- Page Title -->
            <h1 class="page-title"> {{Title}} </h1>
        </div>
    </div>
    <div class="row">
        <!-- Services Desc & IMG -->
        <div class="col-6">
            <p class="left-align-desc" >{{Services_Overview}}</p>
        </div>
        <div class="col-6">
            <img src="https://picsum.photos/640/360" alt="Services Overview Image">
        </div>
    </div>

    <!-- List of Services and Related Images Section -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- List of services  -->

                <div class="row">
                    <div class="col-1">
                        <img src="https://picsum.photos/50" alt="">
                    </div>
                    <div class="col-11 container">
                        <div >
                            <h4 class="services-list-text">Progression Still Images for Construction</h4>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <!-- Still Images for Construction Progress Section -->

    <!-- Video Time Lapse Progression Section -->

    <!-- 2D Models for Construction Progress Section -->

    <!-- 3D Models for Construction Progression -->

    <!-- 360 Aerial Virtual Tours for Construction -->

</div>
{% endblock %}