{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Services Description and Related Image Section-->
    <div class="row">
        <div class="col-12 hero-image-container mb-2" style="text-align: center;">
            <!-- Page Title -->
            <h1 class="page-title">Elevating Construction Progress Monitoring</h1>
            <!-- Sub Heading -->
            <h6 class="sub-heading mb-5">Superior Aerial Imagery, 2D Orthomosaics, 3D Property Models, and Interactive Virtual Tours </h6>
            <h4 class="sub-heading mb-2">All In One Place, Anytime You Need</h4>
            <button class="btn btn-outline-light call-to-action-btn">Book a Consulation</button>
        </div>
    </div>
    <!-- Services Overview -->
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 30rem; text-align: center;">
                <h5 class="card-title">Aerial Still Images / Progression Still Images</h5>
                <p>
                    Utilizing advanced drones, we deliver high-resolution aerial images for a comprehensive overview of your construction project. Our progression imaging service charts your build's journey, offering a clear visual timeline for easy monitoring, tracking, and sharing with your team and stakeholders.
                </p>
                <button class="btn btn-dark mb-2" style="width: 50%; margin-left: auto; margin-right: auto;"> More Detail</button>
            </div>

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>

    <div class="row">
        <!-- Services Desc & IMG -->
        <div class="col-6">
            <p class="left-align-desc" >{{Services_Overview}}</p>
        </div>
        <div class="col-6">
            <img src="https://picsum.photos/640/360" alt="Services Overview Image">
        </div>
    </div>

    <!-- List of Services and Related Images Section -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- List of services  -->

                <div class="row">
                    <div class="col-1">
                        <img src="https://picsum.photos/50" alt="">
                    </div>
                    <div class="col-11 container">
                        <div >
                            <h4 class="services-list-text">Progression Still Images for Construction</h4>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <!-- Still Images for Construction Progress Section -->

    <!-- Video Time Lapse Progression Section -->

    <!-- 2D Models for Construction Progress Section -->

    <!-- 3D Models for Construction Progression -->

    <!-- 360 Aerial Virtual Tours for Construction -->

</div>
{% endblock %}