{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<script src="static/js_scripts/background_scroll.js"></script>
    <div class="parallax-container">
        <div class="parallax-content">
            <div class="col-12" style="text-align: center;">
                <h1 style="color: white;">Portfolio</h1>
                <h3 style="color: white; font-weight:bold">Elevating Perspectives: Bridging Past Excellence with Future Innovation</h3>
                <h5 style="color: white;">
                    Welcome to our portfolio, where the artistry of our past meets the innovation of our future. 'Elevating Perspectives' takes you on a journey through our established excellence in aerial imagry for residential and commercial properties and introduces our latest ventures into the exciting realm of aerial property modeling, virtual tours, digital surface models, and asset formats for construction projects. As we seamlessly blend the tried-and-true with the cutting-edge, explore a collection that showcases our commitment to delivering quality deliverables you and your team can refrence for your property related projects. Join us in witnessing the evolution of our craft and the promise of new horizons in every frame. 🎞️ 📷 
                </h5>
            </div>
            <div class="col-12 mt-5" style="text-align: center; color: white;">
                <h2>Aerial Photography </h2>
                <h5>Due to Privacy we cannot display our work for residential properties.</h5>
                <!-- Image Carasuel -->
                <div class="row">
                    <div class="col-12">
                        <div id="carousel_proprty_1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0113.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0114.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0115.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0116.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0117.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0118.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0119.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0120.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0121.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0122.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0123.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Kent%20Commercial%20Building/DJI_0124.JPG" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_proprty_1" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_proprty_1" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                    <div class="col-12">
                        <div id="carousel_proprty_2" class="carousel slide mt-2" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0520.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0521.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0522.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0523.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0524.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0525.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0526.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0527.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0528.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0529.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0530.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Tacoma_Dome_Area%20Property/DJI_0531.JPG" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_proprty_2" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_proprty_2" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                    <div class="col-12">
                        <div id="carousel_proprty_3" class="carousel slide mt-2" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0228.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0229.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0230.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0231.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0232.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0233.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0234.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0235.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0236.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0237.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0238.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Summner%20Property/DJI_0239.JPG" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_proprty_3" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_proprty_3" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                    <div class="col-12">
                        <div id="carousel_proprty_4" class="carousel slide mt-2" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0553.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0554.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0555.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0544.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0545.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0546.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0547.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0548.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0549.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0550.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0551.JPG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://high-altitude-media-assets.nyc3.cdn.digitaloceanspaces.com/portfolio/photos/Olympia%20Parking%20Lot/DJI_0552.JPG" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_proprty_4" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_proprty_4" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>

                <h2 class="mt-3">Aerial Videography </h2>
                <h5>🔧 We are in the process of adding to our portfolio. Aerial Videography coming soon.</h5>

            </div>
        </div>
    </div>
{% endblock %}